[submodule "isaac_msgs"]
	path = communications/isaac_msgs
	url = https://github.com/nasa/isaac_msgs.git
[submodule "astrobee/survey_manager/survey_planner/src/ros2_planning_system"]
	path = astrobee/survey_manager/survey_planner/src/ros2_planning_system
	url = https://github.com/bckempa/ros2_planning_system
	branch = noetic-devel
[submodule "astrobee/survey_manager/survey_planner/src/ros1_lifecycle"]
	path = astrobee/survey_manager/survey_planner/src/ros1_lifecycle
	url = https://github.com/bckempa/ros1_lifecycle
	branch = noetic-devel
