<?xml version="1.0"?>
<model>
  <name>ISS Handrail 21.5"</name>
  <version>0.1</version>
  <sdf version="1.6">urdf/model.urdf</sdf>
  <author>
    <name>Astrobee Flight Software</name>
    <email>astrobee-fsw@nx.arc.nasa.gov</email>
  </author>
  <description>
    ISS Handrail 21.5"
  </description>
</model>
