-- Copyright (c) 2017, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The Astrobee platform is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.

-- All static transforms in our system
transforms = {

    ------------
    -- LOCALS --
    ------------

    -- SOUNDSEE CAMERA

    { global = false, parent = "body",  child = "soundsee",
      transform = transform(vec3(0.131585, 0.00185, 0.1068), quat4(0.500, -0.500, 0.500, -0.500) ) },

    -- TARGET TO SCICAM

    { global = false, parent = "cam",  child = "target",
      transform = transform(vec3(0.0, 0.0, 0.0), quat4(0.500, -0.500, -0.500, 0.500) ) },

    -- CARGO

    { global = false, parent = "cargo_goal/berth",  child = "cargo_goal/body",
      transform = transform(vec3(0.0, 0.255, 0.0), quat4(0.0, 0.0, 0.0, 1.0) ) },
    { global = false, parent = "cargo/berth",  child = "cargo/body",
      transform = transform(vec3(0.0, 0.255, 0.0), quat4(0.0, 0.0, 0.0, 1.0) ) },

    { global = false, parent = "cargo_goal/body",  child = "cargo_goal/approach",
      transform = transform(vec3(0.1, 1.1, 0.15), quat4(0.0, 0.0, 0.707, 0.707) ) },
    { global = false, parent = "cargo/body",  child = "cargo/approach",
      transform = transform(vec3(0.1, 1.1, 0.15), quat4(0.0, 0.0, 0.707, 0.707) ) },

    { global = false, parent = "cargo_goal/body",  child = "cargo_goal/complete",
      transform = transform(vec3(0.1, 0.6, 0.15), quat4(0.0, 0.0, 0.707, 0.707) ) },
    { global = false, parent = "cargo/body",  child = "cargo/complete",
      transform = transform(vec3(0.1, 0.6, 0.15), quat4(0.0, 0.0, 0.707, 0.707) ) },

    -------------
    -- GLOBALS --
    -------------


 }
