version: "2.1"
services:

  analyst_notebook:
    # Launches analyst notebook
    #
    image: ${REMOTE:-isaac}/isaac_analyst_notebook
    command: "/ros_entrypoint.sh"
    hostname: isaac_notebook
    container_name: isaac_notebook
    build: 
      context: ${ISAAC_PATH}
      dockerfile: ${ISAAC_PATH}/scripts/docker/analyst.Dockerfile
      args:
        REMOTE: ${REMOTE:-isaac}
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_TOKEN=isaac
      - ROS_MASTER_URI=http://rosmaster:11311
      - ROS_IP=172.19.0.12
    networks:
      isaac:
        ipv4_address: 172.19.0.12
    volumes:
      - type: bind
        source: ${ASTROBEE_PATH}
        target: /src/astrobee/src
      - type: bind
        source: ${ISAAC_PATH}
        target: /src/isaac/src
      - type: bind
        source: ${ISAAC_PATH:-.}/analyst/workspace
        target: /home/analyst/
      - type: bind
        source: ${DATA_PATH:-$HOME/data}
        target: /home/analyst/data
      - type: bind
        source: ${BAGS_PATH:-$HOME/data/bags}
        target: /home/analyst/data/bags
