version: "3.9"
services:
  isaac:
    image: ${REMOTE}/$tag
    entrypoint: "/ros_entrypoint.sh"
    command: roslaunch isaac sim.launch dds:=false robot:=sim_pub
    hostname: isaac
    container_name: isaac
    expose:
      - 11311
    environment:
      - ROS_MASTER_URI=http://rosmaster:11311
      - ROS_IP=172.19.0.6
      - ROSLAUNCH_SSH_UNKNOWN=1
    networks:
      isaac:
        ipv4_address: 172.19.0.6
