NUM_IMAGES_EACH=250

WORLD_FILENAME=iss.world
INSPECTION_POSES_FILENAME=handrail.csv

INSPECTION_POSES_LABEL_NAME=name
INSPECTION_POSES_LABEL_TARGET_POS_X=pose_handrail_pos_x
INSPECTION_POSES_LABEL_TARGET_POS_Y=pose_handrail_pos_y
INSPECTION_POSES_LABEL_TARGET_POS_Z=pose_handrail_pos_z
INSPECTION_POSES_LABEL_TARGET_ROT_X=pose_handrail_euler_x
INSPECTION_POSES_LABEL_TARGET_ROT_Y=pose_handrail_euler_y
INSPECTION_POSES_LABEL_TARGET_ROT_Z=pose_handrail_euler_z
INSPECTION_POSES_LABEL_INSPECTION_POS_X=pose_inspection_pos_x
INSPECTION_POSES_LABEL_INSPECTION_POS_Y=pose_inspection_pos_y
INSPECTION_POSES_LABEL_INSPECTION_POS_Z=pose_inspection_pos_z
INSPECTION_POSES_LABEL_INSPECTION_ROT_X=pose_inspection_euler_x
INSPECTION_POSES_LABEL_INSPECTION_ROT_Y=pose_inspection_euler_y
INSPECTION_POSES_LABEL_INSPECTION_ROT_Z=pose_inspection_euler_z
INSPECTION_POSES_LABEL_OBJECT_CLASS=label

GROUND_TRUTH_LABEL_NAME=name
GROUND_TRUTH_LABEL_POS_X=pose_inspection_pos_x
GROUND_TRUTH_LABEL_POS_Y=pose_inspection_pos_y
GROUND_TRUTH_LABEL_POS_Z=pose_inspection_pos_z
GROUND_TRUTH_LABEL_ROT_X=pose_inspection_euler_x
GROUND_TRUTH_LABEL_ROT_Y=pose_inspection_euler_y
GROUND_TRUTH_LABEL_ROT_Z=pose_inspection_euler_z

KEYPOINT_RADIUS=4
KEYPOINT_POSITIONS={"100": [[0.06, 0, 0.09], [0.06, 0, -0.09]], "120": [[0.06, 0, 0.25], [0.06, 0, -0.25]], "140": [[0.06, 0, 0.36], [0.06, 0, -0.36]], "180": [[0.06, 0, 0.51], [0.06, 0, -0.51]]}