<?xml version="1.0"?>
<model>
  <name>Astroberth International Space Station</name>
  <version>0.1</version>
  <sdf version="1.6">urdf/model.urdf</sdf>
  <author>
    <name>Astrobee Flight Software</name>
    <email>astrobee-fsw@nx.arc.nasa.gov</email>
  </author>
  <description>
    Gazebo-compatible config file for the International Space Station.
  </description>
</model>
