<!-- Copyright (c) 2021, United States Government, as represented by the     -->
<!-- Administrator of the National Aeronautics and Space Administration.     -->
<!--                                                                         -->
<!-- All rights reserved.                                                    -->
<!--                                                                         -->
<!-- The "ISAAC - Integrated System for Autonomous and Adaptive Caretaking   -->
<!-- platform" software is licensed under the Apache License, Version 2.0    -->
<!-- (the "License"); you may not use this file except in compliance with    -->
<!-- the License. You may obtain a copy of the License at                    -->
<!--                                                                         -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                          -->
<!--                                                                         -->
<!-- Unless required by applicable law or agreed to in writing, software     -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,       -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or         -->
<!-- implied. See the License for the specific language governing            -->
<!-- permissions and limitations under the License.                          -->

<launch>
  <arg name="name" default="inspection" />
  <arg name="manager" default="" />

  <!-- Context options (NB: THESE ARE OVERRIDDEN BY ENVIRONMENT VARIABLES)       -->
  <!-- Set robot and world correctly; environment variable over rule default     -->
  <arg name="robot" default="$(optenv ASTROBEE_ROBOT sim)" />
  <arg name="world" default="$(optenv ASTROBEE_WORLD iss)" />

  <!-- Make sure all environment variables are set for controller           -->
  <!-- Override the robot and world environment variables all the time. The -->
  <!-- environment variables are the default if they are set. So in this    -->
  <!-- case we are overriding the environment variables with themselves.    -->
  <!-- Roslaunch arguments override the environment variable which is what -->
  <!-- this will do. -->
  <!-- Astrobee -->
  <env name="ASTROBEE_ROBOT" value="$(arg robot)" />
  <env name="ASTROBEE_WORLD" value="$(arg world)" />
  <env if="$(eval optenv('ASTROBEE_CONFIG_DIR','')=='')"
       name="ASTROBEE_CONFIG_DIR" value="$(find astrobee)/config" />
  <env if="$(eval optenv('ASTROBEE_RESOURCE_DIR','')=='')"
       name="ASTROBEE_RESOURCE_DIR" value="$(find astrobee)/resources" />
  <env if="$(eval optenv('ROSCONSOLE_CONFIG_FILE','')=='')"
       name="ROSCONSOLE_CONFIG_FILE" value="$(find astrobee)/resources/logging.config"/>
  <!-- ISAAC -->
  <env if="$(eval optenv('ISAAC_CONFIG_DIR','')=='')"
       name="ISAAC_CONFIG_DIR" value="$(find isaac)/config" />
  <env if="$(eval optenv('ISAAC_RESOURCE_DIR','')=='')"
       name="ISAAC_RESOURCE_DIR" value="$(find isaac)/resources" />
  <arg if="$(eval optenv('ISAAC_CONFIG_DIR','')=='')"
       name="ISAAC_CONFIG_DIR" value="$(find isaac)/config" />
  <arg unless="$(eval optenv('ISAAC_CONFIG_DIR','')=='')"
       name="ISAAC_CONFIG_DIR" value="$(optenv ISAAC_CONFIG_DIR)" />
  <arg if="$(eval optenv('ISAAC_RESOURCE_DIR','')=='')"
       name="ISAAC_RESOURCE_DIR" value="$(find isaac)/resources" />
  <arg unless="$(eval optenv('ISAAC_RESOURCE_DIR','')=='')"
       name="ISAAC_RESOURCE_DIR" value="$(optenv ISAAC_RESOURCE_DIR)" />

  <env name="CUSTOM_CONFIG_DIR" value="$(arg ISAAC_CONFIG_DIR)" />
  <env name="CUSTOM_RESOURCE_DIR" value="$(arg ISAAC_RESOURCE_DIR)" />

  <node name="export_panorama" pkg="inspection" type="export_panorama" output="screen">
  </node>
</launch>

