-- Copyright (c) 2021, United States Government, as represented by the
-- Administrator of the National Aeronautics and Space Administration.
--
-- All rights reserved.
--
-- The "ISAAC - Integrated System for Autonomous and Adaptive Caretaking
-- platform" software is licensed under the Apache License, Version 2.0
-- (the "License"); you may not use this file except in compliance with the
-- License. You may obtain a copy of the License at
--
--     http://www.apache.org/licenses/LICENSE-2.0
--
-- Unless required by applicable law or agreed to in writing, software
-- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
-- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
-- License for the specific language governing permissions and limitations
-- under the License.


-- Declare the variables above as reconfigurable
parameters = {
  -- ACTION CLIENT TIMEOUT VALUES
  {
    id = "timeout_motion_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which the control action must be connected to"
  },{
    id = "timeout_motion_active", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which a control goal must go active"
  },{
    id = "timeout_motion_response", reconfigurable = false, type = "double",
    default = 90.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which control feedback/response must be received"
  },
  -- ACTION CLIENT TIMEOUT VALUES
  {
    id = "timeout_dock_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which the control action must be connected to"
  },{
    id = "timeout_dock_active", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which a control goal must go active"
  },{
    id = "timeout_dock_response", reconfigurable = false, type = "double",
    default = 90.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which control feedback/response must be received"
  },
    -- ACTION CLIENT TIMEOUT VALUES
  {
    id = "timeout_image_analysis_connected", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which the control action must be connected to"
  },{
    id = "timeout_image_analysis_active", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which a control goal must go active"
  },{
    id = "timeout_image_analysis_response", reconfigurable = false, type = "double",
    default = 10.0, min = 0.1, max = 10, unit = "seconds",
    description = "Time by which control feedback/response must be received"
  },
  -- CHOREOGRAPHER CONFIG PARAMETERS
  {
    id = "planner",
    reconfigurable = false,
    type = "string",
    default = "trapezoidal",
    unit = "enumeration",
    values = {},
    description = "Which planner should be used? trapezoidal or qp?"
  },{
    id = "enable_collision_checking",
    reconfigurable = false,
    type = "boolean",
    default = false,
    unit = "boolean",
    description = "If an upcoming collision is detected, should we replan?"
  },{
    id = "enable_validation",
    reconfigurable = false,
    type = "boolean",
    default = false,
    unit = "boolean",
    description = "Should we validate segments before executing them?"
  },{
    id = "enable_replanning",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "If an upcoming collision is detected, should we replan?"
  },{
    id = "max_replanning_attempts",
    reconfigurable = false,
    type = "integer",
    default = 10, min = 1, max = 999, unit = "unitless",
    description = "The maximum amount of replanning attempts"
  },{
    id = "enable_bootstrapping",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should we plan motion to first setpoint?"
  },{
    id = "enable_immediate",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Shift timestamps to start immediately?"
  },{
    id = "enable_faceforward_anomaly",
    reconfigurable = false,
    type = "boolean",
    default = true,
    unit = "boolean",
    description = "Should planning be face-forward only?"
  },{
    id = "enable_faceforward_geometry",
    reconfigurable = false,
    type = "boolean",
    default = false,
    unit = "boolean",
    description = "Should planning be face-forward only?"
  },
  -- GENERAL INSPECTION PARAMETERS
  {
    id = "max_motion_retry_number",
    reconfigurable = true,
    type = "integer",
    default = 5,
    min = 0,
    max = 20,
    unit = "integer",
    description = "Number of times the inspection will retry to reach a pose"
  },
  -- ANOMALY INSPECTION CONFIG PARAMETERS
  {
    id = "distance_resolution",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 0.01,
    max = 0.5,
    unit = "m",
    description = "Linear resolution for inspection point generation"
  },{
    id = "angle_resolution_theta",
    reconfigurable = true,
    type = "double",
    default = 5,
    min = 1,
    max = 5,
    unit = "deg",
    description = "Theta angle resolution for inspection point generation"
  },{
    id = "angle_resolution_phi",
    reconfigurable = true,
    type = "double",
    default = 90,
    min = 1,
    max = 90,
    unit = "deg",
    description = "Phi angle resolution for inspection point generation"
  },{
    id = "max_angle",
    reconfigurable = true,
    type = "double",
    default = 15,
    min = 1,
    max = 80,
    unit = "deg",
    description = "Maximum angle between camera and target"
  },{
    id = "min_distance",
    reconfigurable = true,
    type = "double",
    default = 0.2,
    min = 0.2,
    max = 2.0,
    unit = "m",
    description = "Minimum distance between camera and target"
  },{
    id = "max_distance",
    reconfigurable = true,
    type = "double",
    default = 0.4,
    min = 0.2,
    max = 2.0,
    unit = "m",
    description = "Maximum distance between camera and target"
  },{
    id = "target_distance",
    reconfigurable = true,
    type = "double",
    default = 0.3,
    min = 0.2,
    max = 2.0,
    unit = "m",
    description = "Ideal distance between camera and target"
  },{
    id = "target_size_x",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 0.0,
    max = 2.0,
    unit = "rad",
    description = "Size of target in the x-axis if z is pointing forward"
  },{
    id = "target_size_y",
    reconfigurable = true,
    type = "double",
    default = 0.1,
    min = 0.0,
    max = 2.0,
    unit = "rad",
    description = "Size of target in the y-axis if z is pointing forward"
  },{
    id = "depth_cam",
    reconfigurable = true,
    type = "string",
    default = "haz",
    unit = "enumeration",
    values = {"haz", "depth"},
    description = "Size of target in the y-axis if z is pointing forward"
  },{
    id = "toggle_flashlight",
    reconfigurable = true,
    type = "double",
    default = 0.0,
    unit = "0=OFF 1=MAX",
    description = "Toggle flashlight on/off when doing inspections"
  },{
    id = "focus_distance_step",
    reconfigurable = true,
    type = "double",
    default = 0.0,
    unit = "m",
    description = "Step to iterate focus distances"
  },{
    id = "focus_distance_range",
    reconfigurable = true,
    type = "double",
    default = 0.0,
    unit = "m",
    description = "Range when iterating focus distances"
  },
  -- PANORAMA INSPECTION CONFIG PARAMETERS
  {
    id = "pan_min",
    reconfigurable = true,
    type = "double",
    default = -180,
    min = -180,
    max = 0,
    unit = "degrees",
    description = "Minimum robot pan angle"
  },{
    id = "pan_max",
    reconfigurable = true,
    type = "double",
    default = 180,
    min = 0,
    max = 180,
    unit = "degrees",
    description = "Maximum robot pan angle"
  },{
    id = "tilt_min",
    reconfigurable = true,
    type = "double",
    default = -90,
    min = -90,
    max = 0,
    unit = "degrees",
    description = "Minimum robot tilt angle"
  },{
    id = "tilt_max",
    reconfigurable = true,
    type = "double",
    default = 90,
    min = 0,
    max = 90,
    unit = "degrees",
    description = "Maximum robot tilt angle"
  },{
    id = "overlap",
    reconfigurable = true,
    type = "double",
    default = 0.5,
    min = 0.0,
    max = 1.0,
    unit = "percentage",
    description = "Overlap between consecutive images"
  },{
    id = "station_time",
    reconfigurable = true,
    type = "double",
    default = 2.0,
    min = 0.0,
    max = 10.0,
    unit = "seconds",
    description = "Wait time in each station"
  },{
    id = "att_tol",
    reconfigurable = true,
    type = "double",
    default = 0.0,
    min = 0.0,
    max = 10.0,
    unit = "degrees",
    description = "Panorama mobility attitude tolerance"
  },{
    id = "h_fov",
    reconfigurable = true,
    type = "double",
    default = 60.0,
    min = 0.0,
    max = 200.0,
    unit = "degrees",
    description = "Overwrite panorama HFOV"
  },{
    id = "v_fov",
    reconfigurable = true,
    type = "double",
    default = 60.0,
    min = 0.0,
    max = 200.0,
    unit = "degrees",
    description = "Overwrite panorama VFOV"
  },
  -- SCI CAM CONFIG PARAMETERS
  {
    id = "sci_cam_timeout",
    reconfigurable = true,
    type = "double",
    default = 18.0,
    min = 0.0,
    max = 25.0,
    unit = "seconds",
    description = "Wait time for possible sci_cam restart"
  },
  {
    id = "sci_cam_max_trials",
    reconfigurable = true,
    type = "integer",
    default = 3,
    min = 0,
    max = 10,
    unit = "",
    description = "Times it will retry to take a picture after timeout before sending fail"
  },

}

  