<?xml version="1.0"?>
<robot name="cargo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="body">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://isaac_description/meshes/half_ctb_02_4.dae" scale="1 1 1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://isaac_description/meshes/half_ctb_02_4.dae" scale="1 1 1"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0.1 0.21 0" rpy="0 0 1.57" />
      <geometry>
        <mesh filename="package://astrobee_handrail_8_5/meshes/handrail_8_5.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.1 0.21 0" rpy="0 0 1.57" />
      <geometry>
        <mesh filename="package://astrobee_handrail_8_5/meshes/handrail_8_5.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.1 -0.21 0" rpy="0 0 -1.57" />
      <geometry>
        <mesh filename="package://astrobee_handrail_8_5/meshes/handrail_8_5.dae"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0.1 -0.21 0" rpy="0 0 -1.57" />
      <geometry>
        <mesh filename="package://astrobee_handrail_8_5/meshes/handrail_8_5.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="0.5" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
  </link>

  <!-- tf publisher -->
  <gazebo>
    <plugin name="truth_ros" filename="libgazebo_model_plugin_truth.so">
      <rate>62.5</rate>
      <parent>world</parent>
      <child>body</child>
      <tf>true</tf>
      <pose>false</pose>
      <twist>false</twist>
      <static>false</static>
    </plugin>
  </gazebo>
</robot>
