<?xml version="1.0"?>
<robot name="socks" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="sock">
<!--     <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://isaac_description/meshes/sock.dae"/>
      </geometry>
    </collision> -->

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://isaac_description/meshes/sock.dae"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="100" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
  </link>

  <!-- tf publisher -->
  <gazebo>
    <plugin name="truth_ros" filename="libgazebo_model_plugin_truth.so">
      <rate>62.5</rate>
      <parent>world</parent>
      <child>sock</child>
      <tf>true</tf>
      <pose>false</pose>
      <twist>false</twist>
      <static>false</static>
    </plugin>
  </gazebo>
</robot>
