# Check for lint error and auto correct them

name: Compile APK

on: ['push', 'pull_request']

jobs:
  install_dependencies:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: repo/
    - name: Install dependencies
      run: |
        sudo apt-get install -y libc6-dev-i386 lib32z1 openjdk-8-jdk
        mkdir $HOME/android-sdk
        cd $HOME/android-sdk
        wget https://dl.google.com/android/repository/tools_r25.2.3-linux.zip
        java -version
        unzip tools_r25.2.3-linux.zip
        tools/bin/sdkmanager --update
        yes | tools/bin/sdkmanager "platforms;android-25" "build-tools;25.0.2" "extras;google;m2repository" "extras;android;m2repository"
        wget https://dl.google.com/android/repository/android-ndk-r22b-linux-x86_64.zip
        unzip android-ndk-r22b-linux-x86_64.zip
        mv android-ndk-r22b ndk-bundle
        cd  ~/android-sdk/ndk-bundle/toolchains
        ln -s aarch64-linux-android-4.9 mips64el-linux-android
        ln -s arm-linux-androideabi-4.9 mipsel-linux-android
    - name: Build apk
      run: |
        cd repo/apks/isaac_gs_ros_bridge
        ANDROID_HOME=$HOME/android-sdk ./gradlew build --stacktrace --debug
