# Check for lint error and auto correct them

name: Compile APK

on: ['push', 'pull_request', 'workflow_dispatch']

jobs:
  install_dependencies:
    runs-on: ubuntu-18.04

    steps:
    - name: Checkout Astrobee
      uses: actions/checkout@v3
      with:
        repository: nasa/astrobee
        path: astrobee/

    - name: Checkout ISAAC
      uses: actions/checkout@v3
      with:
        submodules: recursive
        path: isaac/


    - name: Build image isaac/astrobee:msgs-ubuntu16.04
      run: docker build astrobee -f isaac/scripts/docker/astrobee_msgs.Dockerfile
                                 --build-arg UBUNTU_VERSION=16.04
                                 --build-arg ROS_VERSION=kinetic
                                 --build-arg PYTHON=''
                                 -t isaac/isaac:astrobee-msgs-ubuntu16.04

    - name: Build image isaac/isaac:msgs-ubuntu16.04
      run: docker build isaac -f isaac/scripts/docker/isaac_msgs.Dockerfile
                              --build-arg UBUNTU_VERSION=16.04
                              --build-arg ROS_VERSION=kinetic
                              --build-arg PYTHON=''
                              -t isaac/isaac:msgs-ubuntu16.04

    - name: Build image isaac/isaac:latest-msgs-jar-ubuntu16.04
      run: docker build isaac -f isaac/scripts/docker/build_msgs_jar.Dockerfile
                              --build-arg UBUNTU_VERSION=16.04
                              --build-arg ROS_VERSION=kinetic
                              --build-arg PYTHON=''
                              -t isaac/isaac:latest-apk-ubuntu16.04
