name: Build, test and push packages CI

on:
  push:
    branches: [ 'release' ]

jobs:

  build-xenial:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Checkout submodule
      run: git submodule update --init --depth 1 isaac_msgs

    - name: Build code for isaac:astrobee Ubuntu 16
      run: docker build . -f ./scripts/docker/isaac_astrobee.Dockerfile
                          --build-arg UBUNTU_VERSION=16.04
                          --build-arg ROS_VERSION=kinetic
                          --build-arg PYTHON=''
                          --build-arg REMOTE=ghcr.io/nasa
                          -t isaac/isaac:latest-astrobee-ubuntu16.04

    - name: Build code for isaac:latest Ubuntu 16
      run: docker build . -f ./scripts/docker/isaac.Dockerfile
                          --build-arg UBUNTU_VERSION=16.04
                          --build-arg ROS_VERSION=kinetic
                          --build-arg PYTHON=''
                          --build-arg REMOTE=isaac
                          -t isaac/isaac:latest-ubuntu16.04

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - name: Push Docker image
      run: |
        export VERSION=`grep -w -m 1 "Release" RELEASE.md | awk '{print $3}'`
        docker tag isaac/isaac:latest-astrobee-ubuntu16.04 ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-astrobee-ubuntu16.04
        docker push ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-astrobee-ubuntu16.04
        docker tag isaac/isaac:latest-ubuntu16.04 ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-ubuntu16.04
        docker push ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-ubuntu16.04

  build-bionic:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Checkout submodule
      run: git submodule update --init --depth 1 isaac_msgs

    - name: Build code for isaac:astrobee Ubuntu 18
      run: docker build . -f ./scripts/docker/isaac_astrobee.Dockerfile
                          --build-arg UBUNTU_VERSION=18.04
                          --build-arg ROS_VERSION=melodic
                          --build-arg PYTHON=3
                          --build-arg REMOTE=ghcr.io/nasa
                          -t isaac/isaac:latest-astrobee-ubuntu18.04

    - name: Build code for isaac:latest Ubuntu 18
      run: docker build . -f ./scripts/docker/isaac.Dockerfile
                          --build-arg UBUNTU_VERSION=18.04
                          --build-arg ROS_VERSION=melodic
                          --build-arg PYTHON=3
                          --build-arg REMOTE=isaac
                          -t isaac/isaac:latest-ubuntu18.04

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - name: Push Docker image
      run: |
        export VERSION=`grep -w -m 1 "Release" RELEASE.md | awk '{print $3}'`
        docker tag isaac/isaac:latest-astrobee-ubuntu18.04 ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-astrobee-ubuntu18.04
        docker push ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-astrobee-ubuntu18.04
        docker tag isaac/isaac:latest-ubuntu18.04 ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-ubuntu18.04
        docker push ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-ubuntu18.04

  build-focal:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Checkout submodule
      run: git submodule update --init --depth 1 isaac_msgs

    - name: Build code for isaac:astrobee Ubuntu 20
      run: docker build . -f ./scripts/docker/isaac_astrobee.Dockerfile
                          --build-arg UBUNTU_VERSION=20.04
                          --build-arg ROS_VERSION=noetic
                          --build-arg PYTHON=3
                          --build-arg REMOTE=ghcr.io/nasa
                          -t isaac/isaac:latest-astrobee-ubuntu20.04

    - name: Build code for isaac:latest Ubuntu 20
      run: docker build . -f ./scripts/docker/isaac.Dockerfile
                          --build-arg UBUNTU_VERSION=20.04
                          --build-arg ROS_VERSION=noetic
                          --build-arg PYTHON=3
                          --build-arg REMOTE=isaac
                          -t isaac/isaac:latest-ubuntu20.04

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - name: Push Docker image
      run: |
        export VERSION=`grep -w -m 1 "Release" RELEASE.md | awk '{print $3}'`
        docker tag isaac/isaac:latest-astrobee-ubuntu20.04 ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-astrobee-ubuntu20.04
        docker push ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-astrobee-ubuntu20.04
        docker tag isaac/isaac:latest-ubuntu20.04 ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-ubuntu20.04
        docker push ghcr.io/${{ github.repository_owner }}/isaac:v${VERSION}-ubuntu20.04
