# Check for lint error and auto correct them

name: Check for lint errors

on: ['push', 'pull_request', 'workflow_dispatch']

jobs:
  lint_check_cpp:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Check repo for lint errors
      run: ./scripts/git/cpplint_repo.py .

  lint_check_python:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install linters
      run: |
        pip install click==8.0.1 black==22.1.0 isort==5.10.1

    - name: Run black
      run: |
        black . --diff --extend-exclude=cmake --extend-exclude=submodules --extend-exclude=astrobee/survey_manager/survey_dependencies --check
    - name: Run isort
      run: |
        isort . --diff --extend-skip=cmake --extend-skip=submodules --extend-skip=astrobee/survey_manager/survey_dependencies --profile=black --check-only
